// breakpoint
$pc: 1024px;
$tab: 896px;
$sp: 480px;

// color
$color-black: #333;
$color-gray: #aaa;
$color-lightgray: #eee;
$color-deepgray: #787c7b;
$color-blue: #33bad2;
$color-cream: #f7f9f9;
$color-green: #2cb696;